$background: #ddc2f3a2;
$primary-header-color: #270047;
$primary-bg: #3C006D;
$secondary-bg:#6D00C7;
$default-bg: #CAC4CF;
$tertiary-bg: #472D6B;
$secondary-header-color: #210D3C;
$primary: #43007A;
$secondary: #FEFEFF;
$accent: #6D00C7;
$default:  #CAC4CF;
$primary-outline: #4F208B;
$secondary-outline: #381F4B;
$accent-outline: #6D00C7;
$hover-focus-primary: #642C91;

// Navbar
$navbar-background-color: $primary-header-color;
$navbar-item-color: $secondary;
